#booking {
  border-style: solid;
  border-radius: 5px;
  border-color: #555555;
  width: 350px;
  margin: 0 auto;
  padding: 0 0 20px;
  background-color: white;
  color: #555555;
}

#bookingFormHeader {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0 0 0;
  border-bottom: 2px solid #555555;
  width: 50%;
  margin: 0 auto;
}

#bookingFormContent {
  padding: 5px;
}

#bookingFormContent p {
  padding: 15px 0 0 0;
}

#bookingFormContent input {
  padding: 5px 0 0 0;
  margin: 5px 0;
}

#bookingFormContent input:hover {
  cursor: pointer;
}

#bookingFormContent select:hover {
  cursor: pointer;
}

#bookingFormContent .input:focus::placeholder {
  color: transparent;
}

.input {
  max-width: 170px;
}

.saveButton {
  margin: 15px 0 8px 0;
  border: solid 2px #555555;
  border-radius: 5px;
  background-color: white;
  color: #555555;
  font-weight: bold;
}

.saveButton:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}

.deleteButton {
  margin: 10px;
  padding: 4px 8px;
  border: solid 2px #ad0404;
  border-radius: 5px;
  background-color: #c4000000;
  color: #ad0404;
  font-weight: bold;
}

.deleteButton:hover {
  background-color: #ad0404;
  color: darkseagreen;
  cursor: pointer;
}

#content table {
  margin: 0 auto;
  width: 80%;
}

#bookings {
  padding: 50px;
}

 h3 {
  font-size: 30px;
  padding: 0 0 30px;
}

#bookings th {
  background-color: #0d7a0d;
  color: white;
}

#bookings tr:nth-child(even) {
  background-color: rgba(253, 252, 248, 0.4);
}

#search h3 {
  padding: 40px 0 10px 0;
}

#searchFormInput:focus::placeholder {
  color: transparent;
}
