#booking {
  border-style: solid;
  border-radius: 5px;
  border-color: #ff61b0;
  width: 350px;
  margin: 0 auto;
  padding: 0 0 20px;
  background-color: white;
  color: #ff61b0;
}

#bookingFormHeader {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0 0;
  border-bottom: 2px solid #ff61b0;
  width: 50%;
  margin: 0 auto;
}

#bookingFormContent {
  padding: 5px;
}

#bookingFormContent p {
  padding: 10px 0 0 0;
}

#bookingFormContent input {
  padding: 5px 0 0 0;
}

#bookingFormContent input:hover {
  cursor: pointer;
}

#bookingFormContent select:hover {
  cursor: pointer;
}

#bookingFormContent .input:focus::placeholder {
  color: transparent;
}

.input {
  max-width: 170px;
}

.saveButton {
  margin: 15px 0 8px 0;
  border: solid 2px #ff61b0;
  border-radius: 5px;
  background-color: white;
  color: #ff61b0;
  font-weight: bold;
}

.saveButton:hover {
  background-color: #ff1493;
  color: white;
  cursor: pointer;
}

#content table {
  margin: 0 auto;
  width: 80%;
}

#bookings {
  padding: 50px;
}

#bookings h3 {
  font-size: 30px;
  padding: 0 0 30px;
}

#bookings th {
  background-color: #ff61b0;
  color: white;
}

#bookings tr:nth-child(even) {
  background-color: rgba(253, 252, 248, 0.4);
}
