* {
  margin: 0;
}

#content {
  color: #303030;
  text-align: center;
  padding: 50px 0;
}

#content h2 {
  padding: 0 0 40px;
  font-size: 50px;
}

header {
  background-color: #ff61b0;
  color: white;
  text-align: left;
  padding: 50px 0;
}

footer {
  background-color: #ff61b0;
  color: white;
}
