* {
  margin: 0;
  padding: 0;
  font-family: Futura, serif;
  font-size: 20px;
}

#content {
  color: #303030;
  text-align: center;
  padding: 50px 0;
  background-color: pink;
}

#content h2 {
  padding: 0 0 40px;
  font-size: 50px;
}

header {
  background-color: #ff61b0;
  color: white;
  text-align: left;
  padding: 10px 0;
}

header .panel {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  display: block;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
}

footer {
  background-color: white;
  color: #555555;
}

footer table {
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

footer a {
  text-decoration: none;
  color: #555555;
}

footer a:hover {
  color: #ff61b0;
}

#loginHeader {
  margin-top: 30px;
  text-align: center;
  color: white;
  padding: 20px;
  float: right;
  border-radius: 5px;
  border: solid 4px;
  width: 70px;
  margin-right: 50px;
}

#loginHeader:hover {
  background-color: white;
  color: #ff61b0;
  border-color: white;
}

.panel a {
  text-decoration: none;
  color: #555555;
  width: 30%;
  display: inline-block;
}

.panel {
width: 100%;
}

