* {
  margin: 0;
  padding: 0;
  font-family: Seravek ;
  font-size: 20px;
}

#content {
  color: #303030;
  text-align: center;
  padding: 50px 0;
  background-color: darkseagreen;
}

#content h2 {
  padding: 0 0 40px;
  font-size: 50px;
}

header {
  background-color: #c0f0f7;
  color: white;
  text-align: left;
  padding: 10px 0;
}

header .panel {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  display: block;
  text-align: center;
  padding: 30px 0;
  text-decoration: none;
}

footer {
  background-color: saddlebrown;
  color: white;
}

footer table {
  text-align: center;
  width: 70%;
  margin: 0px auto;
  padding: 30px 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: darkseagreen;
}

#loginHeader {
  margin-top: 30px;
  text-align: center;
  color: white;
  padding: 15px;
  float: right;
  border-radius: 5px;
  border: solid 4px;
  width: 70px;
  margin-right: 50px;
}

#loginHeader:hover {
  background-color: white;
  color:darkseagreen ;
  border-color: darkseagreen;
}

.panel a {
  text-decoration: none;
  color: #555555;
  width: 30%;
  display: inline-block;
}

.panel {
 width: auto;

}

