#content h2 {
  font-size: 40px;
  text-align: center;
  padding: 50px;
  color: #303030;
}

.introducktion {
  text-align: center;
}

#activityContainer {
  margin: auto 0;
}

#activityContainer h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#contentActivity {
  border: #555555 solid;
  width: 60%;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
}

#activityName {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

.requirements {
  text-align: center;
}

#activityInformation {
  text-align: center;
}

#bookingInformation {
  margin-bottom: 50px;
  text-align: center;
}


