#content h2 {
  font-size: 40px;
  text-align: center;
  padding: 50px;
  color:#303030;
}

.introducktion {
  text-align: center;

}

.information {
  margin: auto 0;
  margin-bottom: 500px;
  margin-top: 100px;
  text-decoration: underline;
}

#activityContainer {
  margin: auto 0;
  margin-top: 30px;
}

.chosenActivity h3 {
  margin-top: 80px;
  margin-bottom: 40px;
  text-decoration: underline;

}
.requirements {
  margin-top: 80px;
  float: left;





}
.adventureImg {
  margin-right: 100px;
  margin-left: 400px;
  margin-top: 80px;
  margin-bottom: 100px;
  height: 200px;
  max-width: 100px;
}
#contentActivity {
  display: inline-block;

}
