body {
  background-color: pink;
  font-family: Futura, serif;
  font-size: 20px;
}

h2 {
  font-size: 40px;
  text-align: center;
  padding: 50px;
  color:#303030;
}

.panel {
  font-size: 30px;
  text-align: left;
}

#header {
  font-size: 30px;
}

.introducktion {
  text-align: center;
}

.information {
  width: 50%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  border-color: #555;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-size: 30px;
}
