

.merch {
  width: 150px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  margin-top: 10px;
  line-height: 100px;
  border: 1px solid;
  padding: 150px;

}

.food{
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
  margin-bottom: 150px;
  border: 1px solid;
  padding: 150px;


}
.drinks{
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
  margin-bottom: 150px;
  border: 1px solid;
  padding: 150px;

}

h1{
  font-size: 45px;
  margin-bottom: 40px;

}

h2{
  text-align: center;
  margin-top: 60px;
  font-size: 30px;


}
h3{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
}
h4{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;

}

#tshirt\ image {
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;


}
#cap\ image{
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;

}
#hoodie\ image {
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;
}
#pølsehorn\ image {
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;
}
#ribs\ image {
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;

}
#sandwich\ image{
  line-height: 30px;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin-top: auto;
}
#pandekager\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: auto;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;


}
#burger\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: auto;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;


}
#suppe\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: auto;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#pommesfrites\ image{
  line-height: 30px;
  display: inline-block;
  margin-top:auto;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#kaffe\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: auto;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#kakao\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#øl\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#cola\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}

#fanta\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;
}
#sprite\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
#mjød\ image{
  line-height: 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 200px;

}
